.tag {
  font-size: 0.7rem;
  display: flex;
  vertical-align: middle;
}
.list-group-item {
  &:hover {
    background-color: rgba(189, 209, 248, 0.2);
    cursor: pointer;
    .non-expose {
      display: block;
    }
  }
}
.nochange {
  &:hover {
    cursor: inherit;
  }
}

.non-expose {
  display: none;
}

.va-middle {
  vertical-align: middle;
}
