.tag {
  font-size: 0.7rem;
  display: flex;
  vertical-align: middle;
}
.list-group-item {
  &:hover {
    background-color: rgba(189, 209, 248, 0.2);
    cursor: pointer;
    .non-expose {
      display: block;
    }
  }
}
.nochange {
  &:hover {
    cursor: inherit;
  }
}

.non-expose {
  display: none;
}

.permisson-list-group {
  padding: 0.375rem 0.75rem;
}

.permission-list-entry {
  padding: 0;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.permisson-list-prepend {
  margin-right: -1px;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.permisson-list-checkbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  /*border: 1px solid #ced4da;
  border-radius: .25rem; */
}

.permisson-list-name {
  position: relative;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  min-width: 0;
  margin-bottom: 0;

  display: block;
  width: 100%;
  min-height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  /*border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}
