<div class="m-0.5 sm:m-2 overflow-x-auto">

  <div class="w-full flex items-center justify-center">
    <img class="rounded-lg h-24" src="assets/Marvel.png" alt="Marvel">
  </div>

  <div class="mt-5">
    <div class="grid grid-cols-2 gap-x-1 sm:gap-x-2 overflow-hidden" style="min-width: 50rem" cdkDropListGroup>

      <div class="flex flex-col grow">
        <div class="flex justify-between px-1">
          <div class="font-bold">All Movies</div>
          <div>{{movies.length}}</div>
        </div>
        <div class="p-1.5 bg-black-semidark rounded space-y-2 grow border-2 border-transparent border-dashed" cdkDropList [cdkDropListData]="movies" (cdkDropListDropped)="dropMovie($event, 'notwatched')">
          @for (movie of movies; track movie.id) {
          <div cdkDrag [cdkDragData]="movie" [cdkDragStartDelay]="{ mouse: 0, touch: 200 }">
            <ng-container *ngTemplateOutlet="issueCardTemplate; context: { movie: movie }"></ng-container>
          </div>
          }
          @empty {
          <div class="text-center mt-4 mb-2 text-gray text-sm">
            Someone watched every MCU movie lol...
          </div>
          }
        </div>
      </div>

      <div class="flex flex-col grow">
        <div class="flex justify-between px-1">
          <div class="font-bold">Watched</div>
          <div class="font-bold">Total Viewtime: {{ (formatedtime != null? formatedtime : 0) }}</div>
          <div>{{selected.length}}</div>
        </div>
        <div class="p-1.5 bg-black-semidark rounded space-y-2 grow border-2 border-transparent border-dashed" cdkDropList [cdkDropListData]="selected" (cdkDropListDropped)="dropMovie($event, 'watched')">
          @for (movie of selected; track movie.id) {
          <div cdkDrag [cdkDragData]="movie" [cdkDragStartDelay]="{ mouse: 0, touch: 200 }">
            <ng-container *ngTemplateOutlet="issueCardTemplate; context: { movie: movie }"></ng-container>
          </div>
          }
          @empty {
          <div class="text-center mt-4 mb-2 text-gray text-sm">
            No movies watched
          </div>
          }
        </div>
      </div>
    </div>
  </div>

</div>

<!-- issue card template -->
<ng-template #issueCardTemplate let-movie="movie">
  <div class="bg-black-dark hover:bg-black-dark/75 rounded p-2 cursor-pointer select-none">
    <div class="" style="min-height: 4rem;">
      <div class="flex justify-between">
        <!-- <div class="text-base font-medium text-gray/75">{{movie.id}}</div> -->
        <div class="text-sm break-words text-gray">{{movie.name}}</div>
        <div class="text-sm break-words text-gray">{{movie.playtime}}</div>
      </div>
    </div>
    <div class="flex items-center space-x-2">

    </div>
  </div>
</ng-template>